/* Reset de estilos básicos */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Estilos da barra de navegação */
  .nav-bar {
    background-color: #223077;
    color: #fff;
    padding: 10px 10px;
  }
  
  .nav-bar nav ul {
    list-style: none;
    text-align: center;
  }
  
  .nav-bar nav ul li {
    display: inline-block;
    margin: 0 15px;
  }
  
  .nav-bar nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilos da seção principal */
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

  }

  section {
    display: flex;
    background-color: #ffffff;
    height: 80vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    
}


button {
    background: #000000;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 650;
    width: 25vh;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transform: skew(-21deg);
    margin: 10px 0;
    color: white;
  }
  
  span {
    display: inline-block;
    transform: skew(21deg);
  }
  
  button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(20, 20, 20);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
  }
  
  button:hover {
    color: #fff;
  }
  
  button:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
  }

  /* Estilos do rodapé */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  